#navbarSupportedContent.collapse.navbar-collapse
  %ul.navbar-nav.mr-auto
    %li.nav-item.active
      = link_to 'Portfolio', portfolio_path, { class: 'nav-link my-2' }
      %span.sr-only (current)
  = render 'navbar/lookup_stock_form'

= button_to 'Logout', destroy_user_session_path, id: 'facebook-logout-button',
  class: 'btn btn-outline-primary navbar-btn navbar-right', method: :delete
