{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?diagnostics=true\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20=%20%22AAPL%22%20and%20startDate%20=%20%222017-03-05%22%20and%20endDate%20=%20%222017-03-10%22","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;00ab3256-0b9d-11e7-a1ca-d4ae5297450a"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":5,\"created\":\"2017-03-24T21:41:23Z\",\"lang\":\"en-US\",\"diagnostics\":{\"url\":[{\"execution-start-time\":\"0\",\"execution-stop-time\":\"0\",\"execution-time\":\"0\",\"content\":\"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml\"},{\"execution-start-time\":\"3\",\"execution-stop-time\":\"4\",\"execution-time\":\"1\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"},{\"execution-start-time\":\"5\",\"execution-stop-time\":\"7\",\"execution-time\":\"2\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"}],\"publiclyCallable\":\"true\",\"cache\":[{\"execution-start-time\":\"2\",\"execution-stop-time\":\"2\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"5722cb32f3fa72601fa31a02b5a2fe06\"},{\"execution-start-time\":\"5\",\"execution-stop-time\":\"5\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"2291133706cdb68f2a53da70284534a7\"}],\"query\":[{\"execution-start-time\":\"3\",\"execution-stop-time\":\"4\",\"execution-time\":\"1\",\"params\":\"{url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(0,1) where url=@url\"},{\"execution-start-time\":\"5\",\"execution-stop-time\":\"7\",\"execution-time\":\"2\",\"params\":\"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close], url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(2,0) where url=@url and columns=@columnsNames\"}],\"javascript\":{\"execution-start-time\":\"1\",\"execution-stop-time\":\"8\",\"execution-time\":\"6\",\"instructions-used\":\"46582\",\"table-name\":\"yahoo.finance.historicaldata\"},\"user-time\":\"9\",\"service-time\":\"3\",\"build-version\":\"2.0.92\"},\"results\":{\"quote\":[{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-10\",\"Open\":\"139.25\",\"High\":\"139.360001\",\"Low\":\"138.639999\",\"Close\":\"139.139999\",\"Volume\":\"19488000\",\"Adj_Close\":\"139.139999\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-09\",\"Open\":\"138.740005\",\"High\":\"138.789993\",\"Low\":\"137.050003\",\"Close\":\"138.679993\",\"Volume\":\"22065200\",\"Adj_Close\":\"138.679993\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-08\",\"Open\":\"138.949997\",\"High\":\"139.800003\",\"Low\":\"138.820007\",\"Close\":\"139.00\",\"Volume\":\"18681800\",\"Adj_Close\":\"139.00\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-07\",\"Open\":\"139.059998\",\"High\":\"139.979996\",\"Low\":\"138.789993\",\"Close\":\"139.520004\",\"Volume\":\"17267500\",\"Adj_Close\":\"139.520004\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-06\",\"Open\":\"139.369995\",\"High\":\"139.770004\",\"Low\":\"138.600006\",\"Close\":\"139.339996\",\"Volume\":\"21155300\",\"Adj_Close\":\"139.339996\"}]}}}"},"http_version":null},"recorded_at":"Fri, 24 Mar 2017 21:41:22 GMT"},{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?callback=\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%22)","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;790dc552-0b89-11e7-a1ca-d4ae5297450a"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2017-03-24T21:41:23Z\",\"lang\":\"en-US\",\"results\":{\"quote\":{\"symbol\":\"AAPL\",\"Ask\":\"140.72\",\"AverageDailyVolume\":\"27248500\",\"Bid\":\"140.71\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.19\",\"Change_PercentChange\":\"-0.21 - -0.15%\",\"Change\":\"-0.21\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.28\",\"LastTradeDate\":\"3/24/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.33\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"EPSEstimateCurrentYear\":\"8.94\",\"EPSEstimateNextYear\":\"10.15\",\"EPSEstimateNextQuarter\":\"1.62\",\"DaysLow\":\"140.36\",\"DaysHigh\":\"141.74\",\"YearLow\":\"89.47\",\"YearHigh\":\"142.80\",\"HoldingsGainPercent\":null,\"AnnualizedGain\":null,\"HoldingsGain\":null,\"HoldingsGainPercentRealtime\":null,\"HoldingsGainRealtime\":null,\"MoreInfo\":null,\"OrderBookRealtime\":null,\"MarketCapitalization\":\"738.24B\",\"MarketCapRealtime\":null,\"EBITDA\":\"69.75B\",\"ChangeFromYearLow\":\"51.24\",\"PercentChangeFromYearLow\":\"+57.27%\",\"LastTradeRealtimeWithTime\":null,\"ChangePercentRealtime\":null,\"ChangeFromYearHigh\":\"-2.09\",\"PercebtChangeFromYearHigh\":\"-1.46%\",\"LastTradeWithTime\":\"3:28pm - \u003cb\u003e140.71\u003c/b\u003e\",\"LastTradePriceOnly\":\"140.71\",\"HighLimit\":null,\"LowLimit\":null,\"DaysRange\":\"140.36 - 141.74\",\"DaysRangeRealtime\":null,\"FiftydayMovingAverage\":\"136.83\",\"TwoHundreddayMovingAverage\":\"120.05\",\"ChangeFromTwoHundreddayMovingAverage\":\"20.66\",\"PercentChangeFromTwoHundreddayMovingAverage\":\"+17.21%\",\"ChangeFromFiftydayMovingAverage\":\"3.88\",\"PercentChangeFromFiftydayMovingAverage\":\"+2.84%\",\"Name\":\"Apple Inc.\",\"Notes\":null,\"Open\":\"141.50\",\"PreviousClose\":\"140.92\",\"PricePaid\":null,\"ChangeinPercent\":\"-0.15%\",\"PriceSales\":\"3.39\",\"PriceBook\":\"5.59\",\"ExDividendDate\":\"2/9/2017\",\"PERatio\":\"16.89\",\"DividendPayDate\":\"2/16/2017\",\"PERatioRealtime\":null,\"PEGRatio\":\"1.69\",\"PriceEPSEstimateCurrentYear\":\"15.74\",\"PriceEPSEstimateNextYear\":\"13.86\",\"Symbol\":\"AAPL\",\"SharesOwned\":null,\"ShortRatio\":\"1.64\",\"LastTradeTime\":\"3:28pm\",\"TickerTrend\":null,\"OneyrTargetPrice\":\"144.48\",\"Volume\":\"5641252\",\"HoldingsValue\":null,\"HoldingsValueRealtime\":null,\"YearRange\":\"89.47 - 142.80\",\"DaysValueChange\":null,\"DaysValueChangeRealtime\":null,\"StockExchange\":\"NMS\",\"DividendYield\":\"1.63\",\"PercentChange\":\"-0.15%\"}}}}"},"http_version":null},"recorded_at":"Fri, 24 Mar 2017 21:41:22 GMT"},[...]
