{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?callback=\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%22)","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;ee07d99b-18f7-11e7-a80f-d4ae52974741"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2017-04-04T20:22:22Z\",\"lang\":\"en-US\",\"results\":{\"quote\":{\"symbol\":\"AAPL\",\"Ask\":\"144.260\",\"AverageDailyVolume\":\"27269800\",\"Bid\":\"144.250\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.191\",\"Change_PercentChange\":\"+0.555 - +0.386%\",\"Change\":\"+0.555\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.280\",\"LastTradeDate\":\"4/4/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.330\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"EPSEstimateCurrentYear\":\"8.950\",\"EPSEstimateNextYear\":\"10.210\",\"EPSEstimateNextQuarter\":\"1.620\",\"DaysLow\":\"143.170\",\"DaysHigh\":\"144.480\",\"YearLow\":\"89.470\",\"YearHigh\":\"144.500\",\"HoldingsGainPercent\":null,\"AnnualizedGain\":null,\"HoldingsGain\":null,\"HoldingsGainPercentRealtime\":null,\"HoldingsGainRealtime\":null,\"MoreInfo\":null,\"OrderBookRealtime\":null,\"MarketCapitalization\":\"756.84B\",\"MarketCapRealtime\":null,\"EBITDA\":\"69.75B\",\"ChangeFromYearLow\":\"54.785\",\"PercentChangeFromYearLow\":\"+61.233%\",\"LastTradeRealtimeWithTime\":null,\"ChangePercentRealtime\":null,\"ChangeFromYearHigh\":\"-0.245\",\"PercebtChangeFromYearHigh\":\"-0.170%\",\"LastTradeWithTime\":\"1:32pm - \u003cb\u003e144.255\u003c/b\u003e\",\"LastTradePriceOnly\":\"144.255\",\"HighLimit\":null,\"LowLimit\":null,\"DaysRange\":\"143.170 - 144.480\",\"DaysRangeRealtime\":null,\"FiftydayMovingAverage\":\"139.249\",\"TwoHundreddayMovingAverage\":\"121.913\",\"ChangeFromTwoHundreddayMovingAverage\":\"22.342\",\"PercentChangeFromTwoHundreddayMovingAverage\":\"+18.326%\",\"ChangeFromFiftydayMovingAverage\":\"5.006\",\"PercentChangeFromFiftydayMovingAverage\":\"+3.595%\",\"Name\":\"Apple Inc.\",\"Notes\":null,\"Open\":\"143.250\",\"PreviousClose\":\"143.700\",\"PricePaid\":null,\"ChangeinPercent\":\"+0.386%\",\"PriceSales\":\"3.457\",\"PriceBook\":\"5.704\",\"ExDividendDate\":\"2/9/2017\",\"PERatio\":\"17.318\",\"DividendPayDate\":\"2/16/2017\",\"PERatioRealtime\":null,\"PEGRatio\":\"1.740\",\"PriceEPSEstimateCurrentYear\":\"16.118\",\"PriceEPSEstimateNextYear\":\"14.129\",\"Symbol\":\"AAPL\",\"SharesOwned\":null,\"ShortRatio\":\"2.330\",\"LastTradeTime\":\"1:32pm\",\"TickerTrend\":null,\"OneyrTargetPrice\":\"146.760\",\"Volume\":\"252485\",\"HoldingsValue\":null,\"HoldingsValueRealtime\":null,\"YearRange\":\"89.470 - 144.500\",\"DaysValueChange\":null,\"DaysValueChangeRealtime\":null,\"StockExchange\":\"NMS\",\"DividendYield\":\"1.590\",\"PercentChange\":\"+0.386%\"}}}}"},"http_version":null},"recorded_at":"Tue, 04 Apr 2017 20:22:23 GMT"},[...]
