{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?callback=\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%20AAPL%22)","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;9fcf7e07-0b89-11e7-a1ca-d4ae5297450a"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":2,\"created\":\"2017-03-23T00:17:26Z\",\"lang\":\"en-US\",\"results\":{\"quote\":[{\"symbol\":\"AAPL\",\"Ask\":\"141.49\",\"AverageDailyVolume\":\"27089600\",\"Bid\":\"141.37\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.19\",\"Change_PercentChange\":\"+1.58 - +1.13%\",\"Change\":\"+1.58\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.28\",\"LastTradeDate\":\"3/22/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.33\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"EPSEstimateCurrentYear\":\"8.94\",\"EPSEstimateNextYear\":\"10.15\",\"EPSEstimateNextQuarter\":\"1.62\",\"DaysLow\":\"139.76\",\"DaysHigh\":\"141.60\",\"YearLow\":\"89.47\",\"YearHigh\":\"142.80\",\"HoldingsGainPercent\":null,\"AnnualizedGain\":null,\"HoldingsGain\":null,\"HoldingsGainPercentRealtime\":null,\"HoldingsGainRealtime\":null,\"MoreInfo\":null,\"OrderBookRealtime\":null,\"MarketCapitalization\":\"741.97B\",\"MarketCapRealtime\":null,\"EBITDA\":\"69.75B\",\"ChangeFromYearLow\":\"51.95\",\"PercentChangeFromYearLow\":\"+58.06%\",\"LastTradeRealtimeWithTime\":null,\"ChangePercentRealtime\":null,\"ChangeFromYearHigh\":\"-1.38\",\"PercebtChangeFromYearHigh\":\"-0.97%\",\"LastTradeWithTime\":\"4:00pm - \u003cb\u003e141.42\u003c/b\u003e\",\"LastTradePriceOnly\":\"141.42\",\"HighLimit\":null,\"LowLimit\":null,\"DaysRange\":\"139.76 - 141.60\",\"DaysRangeRealtime\":null,\"FiftydayMovingAverage\":\"135.51\",\"TwoHundreddayMovingAverage\":\"119.65\",\"ChangeFromTwoHundreddayMovingAverage\":\"21.77\",\"PercentChangeFromTwoHundreddayMovingAverage\":\"+18.19%\",\"ChangeFromFiftydayMovingAverage\":\"5.91\",\"PercentChangeFromFiftydayMovingAverage\":\"+4.36%\",\"Name\":\"Apple Inc.\",\"Notes\":null,\"Open\":\"139.83\",\"PreviousClose\":\"139.84\",\"PricePaid\":null,\"ChangeinPercent\":\"+1.13%\",\"PriceSales\":\"3.36\",\"PriceBook\":\"5.55\",\"ExDividendDate\":\"2/9/2017\",\"PERatio\":\"16.98\",\"DividendPayDate\":\"2/16/2017\",\"PERatioRealtime\":null,\"PEGRatio\":\"1.69\",\"PriceEPSEstimateCurrentYear\":\"15.82\",\"PriceEPSEstimateNextYear\":\"13.93\",\"Symbol\":\"AAPL\",\"SharesOwned\":null,\"ShortRatio\":\"1.64\",\"LastTradeTime\":\"4:00pm\",\"TickerTrend\":null,\"OneyrTargetPrice\":\"144.48\",\"Volume\":\"25853913\",\"HoldingsValue\":null,\"HoldingsValueRealtime\":null,\"YearRange\":\"89.47 - 142.80\",\"DaysValueChange\":null,\"DaysValueChangeRealtime\":null,\"StockExchange\":\"NMS\",\"DividendYield\":\"1.61\",\"PercentChange\":\"+1.13%\"},{\"symbol\":\"AAPL\",\"Ask\":\"141.49\",\"AverageDailyVolume\":\"27089600\",\"Bid\":\"141.37\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.19\",\"Change_PercentChange\":\"+1.58 - +1.13%\",\"Change\":\"+1.58\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.28\",\"LastTradeDate\":\"3/22/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.33\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"[...]
