{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?callback=\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%22)","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;ec4e4f11-e691-11e6-bcc3-d4ae52974741"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2017-03-11T22:20:31Z\",\"lang\":\"en-US\",\"results\":{\"quote\":{\"symbol\":\"AAPL\",\"Ask\":\"139.13\",\"AverageDailyVolume\":\"28104300\",\"Bid\":\"139.08\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.19\",\"Change_PercentChange\":\"+0.46 - +0.33%\",\"Change\":\"+0.46\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.28\",\"LastTradeDate\":\"3/10/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.33\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"EPSEstimateCurrentYear\":\"8.94\",\"EPSEstimateNextYear\":\"10.15\",\"EPSEstimateNextQuarter\":\"1.62\",\"DaysLow\":\"138.64\",\"DaysHigh\":\"139.36\",\"YearLow\":\"89.47\",\"YearHigh\":\"140.28\",\"HoldingsGainPercent\":null,\"AnnualizedGain\":null,\"HoldingsGain\":null,\"HoldingsGainPercentRealtime\":null,\"HoldingsGainRealtime\":null,\"MoreInfo\":null,\"OrderBookRealtime\":null,\"MarketCapitalization\":\"730.00B\",\"MarketCapRealtime\":null,\"EBITDA\":\"69.75B\",\"ChangeFromYearLow\":\"49.67\",\"PercentChangeFromYearLow\":\"+55.52%\",\"LastTradeRealtimeWithTime\":null,\"ChangePercentRealtime\":null,\"ChangeFromYearHigh\":\"-1.14\",\"PercebtChangeFromYearHigh\":\"-0.81%\",\"LastTradeWithTime\":\"4:00pm - \u003cb\u003e139.14\u003c/b\u003e\",\"LastTradePriceOnly\":\"139.14\",\"HighLimit\":null,\"LowLimit\":null,\"DaysRange\":\"138.64 - 139.36\",\"DaysRangeRealtime\":null,\"FiftydayMovingAverage\":\"132.10\",\"TwoHundreddayMovingAverage\":\"117.89\",\"ChangeFromTwoHundreddayMovingAverage\":\"21.25\",\"PercentChangeFromTwoHundreddayMovingAverage\":\"+18.03%\",\"ChangeFromFiftydayMovingAverage\":\"7.04\",\"PercentChangeFromFiftydayMovingAverage\":\"+5.33%\",\"Name\":\"Apple Inc.\",\"Notes\":null,\"Open\":\"139.25\",\"PreviousClose\":\"138.68\",\"PricePaid\":null,\"ChangeinPercent\":\"+0.33%\",\"PriceSales\":\"3.34\",\"PriceBook\":\"5.51\",\"ExDividendDate\":\"2/9/2017\",\"PERatio\":\"16.70\",\"DividendPayDate\":\"2/16/2017\",\"PERatioRealtime\":null,\"PEGRatio\":\"1.68\",\"PriceEPSEstimateCurrentYear\":\"15.56\",\"PriceEPSEstimateNextYear\":\"13.71\",\"Symbol\":\"AAPL\",\"SharesOwned\":null,\"ShortRatio\":\"1.45\",\"LastTradeTime\":\"4:00pm\",\"TickerTrend\":null,\"OneyrTargetPrice\":\"142.46\",\"Volume\":\"19612801\",\"HoldingsValue\":null,\"HoldingsValueRealtime\":null,\"YearRange\":\"89.47 - 140.28\",\"DaysValueChange\":null,\"DaysValueChangeRealtime\":null,\"StockExchange\":\"NMS\",\"DividendYield\":\"1.64\",\"PercentChange\":\"+0.33%\"}}}}"},"http_version":null},"recorded_at":"Sat, 11 Mar 2017 22:20:31 GMT"}],"recorded_with":"VCR 3.0.3"}