{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?callback=\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%20AAPL%22)","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;24336cec-194f-11e7-a80f-d4ae52974741"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":2,\"created\":\"2017-04-07T23:02:28Z\",\"lang\":\"en-US\",\"results\":{\"quote\":[{\"symbol\":\"AAPL\",\"Ask\":\"143.40\",\"AverageDailyVolume\":\"27170700\",\"Bid\":\"143.35\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.19\",\"Change_PercentChange\":\"-0.32 - -0.22%\",\"Change\":\"-0.32\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.28\",\"LastTradeDate\":\"4/7/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.33\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"EPSEstimateCurrentYear\":\"8.95\",\"EPSEstimateNextYear\":\"10.21\",\"EPSEstimateNextQuarter\":\"1.62\",\"DaysLow\":\"143.27\",\"DaysHigh\":\"144.18\",\"YearLow\":\"89.47\",\"YearHigh\":\"144.50\",\"HoldingsGainPercent\":null,\"AnnualizedGain\":null,\"HoldingsGain\":null,\"HoldingsGainPercentRealtime\":null,\"HoldingsGainRealtime\":null,\"MoreInfo\":null,\"OrderBookRealtime\":null,\"MarketCapitalization\":\"752.04B\",\"MarketCapRealtime\":null,\"EBITDA\":\"69.75B\",\"ChangeFromYearLow\":\"53.87\",\"PercentChangeFromYearLow\":\"+60.21%\",\"LastTradeRealtimeWithTime\":null,\"ChangePercentRealtime\":null,\"ChangeFromYearHigh\":\"-1.16\",\"PercebtChangeFromYearHigh\":\"-0.80%\",\"LastTradeWithTime\":\"4:00pm - \u003cb\u003e143.34\u003c/b\u003e\",\"LastTradePriceOnly\":\"143.34\",\"HighLimit\":null,\"LowLimit\":null,\"DaysRange\":\"143.27 - 144.18\",\"DaysRangeRealtime\":null,\"FiftydayMovingAverage\":\"140.07\",\"TwoHundreddayMovingAverage\":\"122.44\",\"ChangeFromTwoHundreddayMovingAverage\":\"20.90\",\"PercentChangeFromTwoHundreddayMovingAverage\":\"+17.07%\",\"ChangeFromFiftydayMovingAverage\":\"3.27\",\"PercentChangeFromFiftydayMovingAverage\":\"+2.34%\",\"Name\":\"Apple Inc.\",\"Notes\":null,\"Open\":\"143.73\",\"PreviousClose\":\"143.66\",\"PricePaid\":null,\"ChangeinPercent\":\"-0.22%\",\"PriceSales\":\"3.46\",\"PriceBook\":\"5.70\",\"ExDividendDate\":\"2/9/2017\",\"PERatio\":\"17.21\",\"DividendPayDate\":\"2/16/2017\",\"PERatioRealtime\":null,\"PEGRatio\":\"1.74\",\"PriceEPSEstimateCurrentYear\":\"16.02\",\"PriceEPSEstimateNextYear\":\"14.03\",\"Symbol\":\"AAPL\",\"SharesOwned\":null,\"ShortRatio\":\"2.33\",\"LastTradeTime\":\"4:00pm\",\"TickerTrend\":null,\"OneyrTargetPrice\":\"147.00\",\"Volume\":\"16668653\",\"HoldingsValue\":null,\"HoldingsValueRealtime\":null,\"YearRange\":\"89.47 - 144.50\",\"DaysValueChange\":null,\"DaysValueChangeRealtime\":null,\"StockExchange\":\"NMS\",\"DividendYield\":\"1.57\",\"PercentChange\":\"-0.22%\"},{\"symbol\":\"AAPL\",\"Ask\":\"143.40\",\"AverageDailyVolume\":\"27170700\",\"Bid\":\"143.35\",\"AskRealtime\":null,\"BidRealtime\":null,\"BookValue\":\"25.19\",\"Change_PercentChange\":\"-0.32 - -0.22%\",\"Change\":\"-0.32\",\"Commission\":null,\"Currency\":\"USD\",\"ChangeRealtime\":null,\"AfterHoursChangeRealtime\":null,\"DividendShare\":\"2.28\",\"LastTradeDate\":\"4/7/2017\",\"TradeDate\":null,\"EarningsShare\":\"8.33\",\"ErrorIndicationreturnedforsymbolchangedinvalid\":null,\"E[...]
[...]
