{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?diagnostics=true\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20=%20%22AAPL%22%20and%20startDate%20=%20%222017-03-05%22%20and%20endDate%20=%20%222017-03-10%22","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf11;a7863dee-0529-11e7-a1ca-d4ae5297450a"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":5,\"created\":\"2017-03-11T09:33:13Z\",\"lang\":\"en-US\",\"diagnostics\":{\"url\":[{\"execution-start-time\":\"0\",\"execution-stop-time\":\"2\",\"execution-time\":\"2\",\"content\":\"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml\"},{\"execution-start-time\":\"5\",\"execution-stop-time\":\"29\",\"execution-time\":\"24\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"},{\"execution-start-time\":\"31\",\"execution-stop-time\":\"33\",\"execution-time\":\"2\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"}],\"publiclyCallable\":\"true\",\"cache\":[{\"execution-start-time\":\"4\",\"execution-stop-time\":\"4\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"5722cb32f3fa72601fa31a02b5a2fe06\"},{\"execution-start-time\":\"31\",\"execution-stop-time\":\"31\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"2291133706cdb68f2a53da70284534a7\"}],\"query\":[{\"execution-start-time\":\"4\",\"execution-stop-time\":\"30\",\"execution-time\":\"26\",\"params\":\"{url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(0,1) where url=@url\"},{\"execution-start-time\":\"31\",\"execution-stop-time\":\"33\",\"execution-time\":\"2\",\"params\":\"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close], url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=5\u0026e=10\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(2,0) where url=@url and columns=@columnsNames\"}],\"javascript\":{\"execution-start-time\":\"3\",\"execution-stop-time\":\"34\",\"execution-time\":\"31\",\"instructions-used\":\"46582\",\"table-name\":\"yahoo.finance.historicaldata\"},\"user-time\":\"35\",\"service-time\":\"28\",\"build-version\":\"2.0.98\"},\"results\":{\"quote\":[{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-10\",\"Open\":\"139.25\",\"High\":\"139.360001\",\"Low\":\"138.639999\",\"Close\":\"139.139999\",\"Volume\":\"19488000\",\"Adj_Close\":\"139.139999\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-09\",\"Open\":\"138.740005\",\"High\":\"138.789993\",\"Low\":\"137.050003\",\"Close\":\"138.679993\",\"Volume\":\"22065200\",\"Adj_Close\":\"138.679993\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-08\",\"Open\":\"138.949997\",\"High\":\"139.800003\",\"Low\":\"138.820007\",\"Close\":\"139.00\",\"Volume\":\"18681800\",\"Adj_Close\":\"139.00\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-07\",\"Open\":\"139.059998\",\"High\":\"139.979996\",\"Low\":\"138.789993\",\"Close\":\"139.520004\",\"Volume\":\"17267500\",\"Adj_Close\":\"139.520004\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-06\",\"Open\":\"139.369995\",\"High\":\"139.770004\",\"Low\":\"138.600006\",\"Close\":\"139.339996\",\"Volume\":\"21155300\",\"Adj_Close\":\"139.339996\"}]}}}"},"http_version":null},"recorded_at":"Sat, 11 Mar 2017 09:33:12 GMT"}],"recorded_with":"VCR 3.0.3"}