{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?diagnostics=true\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20=%20%22AAPL%22%20and%20startDate%20=%20%222017-03-08%22%20and%20endDate%20=%20%222017-03-09%22","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;c4be975d-18c8-11e7-a80f-d4ae52974741"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":2,\"created\":\"2017-04-04T21:00:12Z\",\"lang\":\"en-US\",\"diagnostics\":{\"url\":[{\"execution-start-time\":\"1\",\"execution-stop-time\":\"8\",\"execution-time\":\"7\",\"content\":\"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml\"},{\"execution-start-time\":\"11\",\"execution-stop-time\":\"18\",\"execution-time\":\"7\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=8\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"},{\"execution-start-time\":\"20\",\"execution-stop-time\":\"27\",\"execution-time\":\"7\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=8\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"}],\"publiclyCallable\":\"true\",\"cache\":[{\"execution-start-time\":\"10\",\"execution-stop-time\":\"11\",\"execution-time\":\"1\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"a57942fa056f469c5fb11f13eb82d20f\"},{\"execution-start-time\":\"19\",\"execution-stop-time\":\"19\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"835d4b9734535b030d1a92629586b2be\"}],\"query\":[{\"execution-start-time\":\"11\",\"execution-stop-time\":\"19\",\"execution-time\":\"8\",\"params\":\"{url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=8\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(0,1) where url=@url\"},{\"execution-start-time\":\"19\",\"execution-stop-time\":\"27\",\"execution-time\":\"8\",\"params\":\"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close], url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=8\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(2,0) where url=@url and columns=@columnsNames\"}],\"javascript\":{\"execution-start-time\":\"9\",\"execution-stop-time\":\"27\",\"execution-time\":\"18\",\"instructions-used\":\"34563\",\"table-name\":\"yahoo.finance.historicaldata\"},\"user-time\":\"28\",\"service-time\":\"22\",\"build-version\":\"2.0.92\"},\"results\":{\"quote\":[{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-09\",\"Open\":\"138.740005\",\"High\":\"138.789993\",\"Low\":\"137.050003\",\"Close\":\"138.679993\",\"Volume\":\"22065200\",\"Adj_Close\":\"138.679993\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-08\",\"Open\":\"138.949997\",\"High\":\"139.800003\",\"Low\":\"138.820007\",\"Close\":\"139.00\",\"Volume\":\"18681800\",\"Adj_Close\":\"139.00\"}]}}}"},"http_version":null},"recorded_at":"Tue, 04 Apr 2017 21:00:13 GMT"},[...]
