{"http_interactions":[{"request":{"method":"get","uri":"https://query.yahooapis.com/v1/public/yql?diagnostics=true\u0026env=store://datatables.org/alltableswithkeys\u0026format=json\u0026q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20=%20%22AAPL%22%20and%20startDate%20=%20%222017-03-04%22%20and%20endDate%20=%20%222017-03-09%22","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;ae86f196-18f6-11e7-a80f-d4ae52974741"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":4,\"created\":\"2017-04-04T21:19:59Z\",\"lang\":\"en-US\",\"diagnostics\":{\"url\":[{\"execution-start-time\":\"0\",\"execution-stop-time\":\"2\",\"execution-time\":\"2\",\"content\":\"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml\"},{\"execution-start-time\":\"5\",\"execution-stop-time\":\"5\",\"execution-time\":\"0\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=4\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"},{\"execution-start-time\":\"7\",\"execution-stop-time\":\"7\",\"execution-time\":\"0\",\"content\":\"http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=4\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL\"}],\"publiclyCallable\":\"true\",\"cache\":[{\"execution-start-time\":\"4\",\"execution-stop-time\":\"4\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"fa1f5baabdd37191f9c843e7aab4ddc5\"},{\"execution-start-time\":\"6\",\"execution-stop-time\":\"6\",\"execution-time\":\"0\",\"method\":\"GET\",\"type\":\"MEMCACHED\",\"content\":\"cfd84816b18746ed8eab9719fc57d608\"}],\"query\":[{\"execution-start-time\":\"4\",\"execution-stop-time\":\"6\",\"execution-time\":\"2\",\"params\":\"{url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=4\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(0,1) where url=@url\"},{\"execution-start-time\":\"7\",\"execution-stop-time\":\"8\",\"execution-time\":\"1\",\"params\":\"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close], url=[http://ichart.finance.yahoo.com/table.csv?a=2\u0026b=4\u0026e=9\u0026g=d\u0026c=2017\u0026d=2\u0026f=2017\u0026s=AAPL]}\",\"content\":\"select * from csv(2,0) where url=@url and columns=@columnsNames\"}],\"javascript\":{\"execution-start-time\":\"3\",\"execution-stop-time\":\"8\",\"execution-time\":\"5\",\"instructions-used\":\"41871\",\"table-name\":\"yahoo.finance.historicaldata\"},\"user-time\":\"9\",\"service-time\":\"2\",\"build-version\":\"2.0.92\"},\"results\":{\"quote\":[{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-09\",\"Open\":\"138.740005\",\"High\":\"138.789993\",\"Low\":\"137.050003\",\"Close\":\"138.679993\",\"Volume\":\"22065200\",\"Adj_Close\":\"138.679993\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-08\",\"Open\":\"138.949997\",\"High\":\"139.800003\",\"Low\":\"138.820007\",\"Close\":\"139.00\",\"Volume\":\"18681800\",\"Adj_Close\":\"139.00\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-07\",\"Open\":\"139.059998\",\"High\":\"139.979996\",\"Low\":\"138.789993\",\"Close\":\"139.520004\",\"Volume\":\"17267500\",\"Adj_Close\":\"139.520004\"},{\"Symbol\":\"AAPL\",\"Date\":\"2017-03-06\",\"Open\":\"139.369995\",\"High\":\"139.770004\",\"Low\":\"138.600006\",\"Close\":\"139.339996\",\"Volume\":\"21155300\",\"Adj_Close\":\"139.339996\"}]}}}"},"http_version":null},"recorded_at":"Tue, 04 Apr 2017 21:20:00 GMT"},[...]
