<div class="container portfolio-page-container">
  <h1 class="text-center" id="portfolio-header">Portfolio</h1>
  <hr class="portfolio-hr" />

  <%= react_component('App', props: { stocks: @stocks, user: @user }, prerender: false) %>
</div>

