@import 'variables';

#add-stock-modal {
  color: black;
}

.add-stock-form-btn {
  background-color: #16619c;
  &:hover {
    cursor: pointer;
    background-color: rgba(2, 90, 165, .85);
  }
  &:focus {
    border-color: $teal;
    box-shadow: 0 0 0 2px rgba(1, 62, 115, 0.5)
  }
  &:visited {
    border-color: $teal;
  }
  &:active {
    border-color: $teal;
  }
}
