@import "bootstrap";
@import "top_nav";
@import "footer";
@import "portfolio_page";
@import "add_stock_form";
@import "stock_item";
@import "total_profit";
@import "stock_data";
@import "stock_lookup";
@import "user_stocks";
@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  background-color: #f7f6f3;
}

