@import '_variables';

.footer {
  padding-top: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $teal;
  color: $white;
  font-size: .9em;
  span {
    padding-right: 15px;
  }
  a {
    padding: 0px 15px;
    color: $white;
    &:focus {
      text-decoration: none;
    }
  }
}

