@import 'variables';

.card-header {
  background-color: $black;
  color: $lime;
}

.card-header-col-positive {
  border-right: 1px solid darkgray;
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 7px;
  color: $lime;
}

.card-header-col-negative {
  border-right: 1px solid darkgray;
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 7px;
  color: $red;
}

.table-headers {
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: 7px;
  color: white;
}

.shares-header {
  margin-left: -12px;
}

.card-header-col-price-positive {
  border-right: 1px solid darkgray;
  color: $lime;
}

.card-header-col-price-negative {
  border-right: 1px solid darkgray;
  color: $red;
}

.price {
  font-size: 1.2em;
  font-weight: 300;
}

.todays-profit-col-positive {
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 7px;
  color: $lime;
}

.todays-profit-col-negative {
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 7px;
  color: $red;
}

.card-outline-success {
  border-color: $lime;
}

.card-outline-danger {
  border-color: $red;
}
