@import 'variables';

.card-block-positive {
  border-top: 1px solid $green;
  padding: 10px 0px 10px;
  cursor: default;
}

.card-block-negative {
  border-top: 1px solid $red;
  padding: 10px 0px 10px;
  cursor: default;
}

.stock-data-card-second-column {
  border-right: 1px solid lightgray;
}

.card-block, .lead {
  font-size: 1.06em;
}

