@import 'variables';

.navbar-inverse {
  margin-bottom: 30px;
  background-color: $black;
  border-bottom: 2px solid $blue;
}

#facebook-logout-button {
  margin-left: 60px;

}

.navbar-brand {
  font-size: 1.4em;
}

