@import 'variables';

.returns-display-positive {
  font-size: 1.8em;
  font-weight: 200;
  color: $green;
  padding: 10px;
}

.returns-display-negative {
  font-size: 1.8em;
  font-weight: 200;
  color: $red;
  padding: 10px;
}

.returns-card {
  box-shadow: 0px 2px 8px lightgray;
}

.total-card-header {
  color: $dark-blue;
  font-weight: 400;
}
