<footer class="footer">
  <p class="text-center">
    <span>Made by Frank Nowinski &#169;</span> |
    <a href="https://github.com/frankNowinski" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/franknowinski/" target="_blank">LinkedIn</a> |
    <a href="https://learn.co/frankNowinski/resume" target="_blank">Resume</a>
  </p>
</footer>
